@using EasyStub.UI.UseCases.Fallback

<MudPaper class="pa-4">

    <MudSelect T="string" Label="Type" AnchorOrigin="Origin.BottomCenter" @bind-Value="Form.Type">
        @foreach (var type in FallbackFactory.FallbackTypes)
        {
            <MudSelectItem Value="@type" />
        }
    </MudSelect>

    @if (Form.Type == JsonFallback.Code)
    {
        <MudTooltip Text="This is the status code of the response">
            <MudTextField Label="Status Code" Class="pb-3" Variant="Variant.Text" @bind-Value="Form.StatusCode">
            </MudTextField>
        </MudTooltip>

        <MudInputLabel>JSON of the response</MudInputLabel>
        <EasyStub.UI.Pages.Endpoint.JsonEditor.JsonEditor @ref="editor"></EasyStub.UI.Pages.Endpoint.JsonEditor.JsonEditor>
    }

    @if (Form.Type == RedirectFallback.Code)
    {
        <MudTooltip
            Text="E.g: if the base URL is google.com, when the server receives GET /test it will delegate to google.com/test">
            <MudTextField Label="Base URL" Variant="Variant.Text" @bind-Value="Form.BaseUrl"></MudTextField>
        </MudTooltip>

    }

    <div class="py-4">
        <MudButton Variant="Variant.Filled" @onclick="Update">Update</MudButton>
    </div>

</MudPaper>
