<div>
    Response code: @((int?)HttpResponse?.StatusCode) @HttpResponse?.StatusCode
</div>

<div>Content:</div>

<MudPaper class="pa-4"> @content </MudPaper>

    <div>Headers:</div>

    @if (HttpResponse?.Headers is not null)
{
    @foreach (var (key, value) in HttpResponse?.Headers)
    {
        <div>@key: @string.Join(", ", value)</div>
    }
}
